{% extends "main/base.html" %}

{% block title %}The News Blog{% endblock %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static "blog/css/style.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    {% load staticfiles %}
<div ng-init='init={}; init.page={{ page }}; init.pageSize={{ pageSize }}; init.articles={{ article_list_json }}'>
  <div ng-controller='ArticleCtrl' nb-window-scroller="fetch()">
     {% verbatim %}
   <!-- Carousel
 ================================================== -->
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner" ng-cloak>

    <div ng-repeat="article in data.articles|limitTo:4"  ng-class="{active : $first, item : true}">
      <img src="/static/blog/slide-01.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{article.title}}</h1>
          <p class="lead">{{article.summary}}</p>
          <a class="btn btn-large btn-primary" href="/blog/{{article.slug}}">Read more</a>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" ref="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div> <!-- /.carousel -->

<div class="featurette container">
 <div class="row">
 

  <div id="sidebar" class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <li ng-repeat="article in data.articles" nb-if-changed="{{article.date}}">
        <i class="icon-chevron-right"></i>
        <a href="#{{article.date}}">{{article.date | date:'EEEE, MMM d'}}</a>
      </li>
    </ul>
  </div>

  <div id="articles" class="span9" ng-cloak>
  
   <div ng-repeat="article in data.articles">
    <div nb-if-changed="{{article.date}}" >
      <span class="label label-inverse">{{article.date | date:'fullDate'}}</span><br /><br />
   </div>
    <section id="{{article.date}}" >
      <div class="container">
        <div class="well well-small">
          <h1>{{article.title}}</h1>
          <p class="lead">{{article.summary}}</p>
          <p>{{article.time}}</p>
          <a class="btn btn-large btn-primary" href="/blog/{{article.slug}}">Read more</a>
        </div>
      </div>
    </section>
   </div>
   <button ng-click="fetch()">fetch</button
  {% endverbatim %}
  </div>
 </div>
</div>
{% endblock %}
{% block script %}
  <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    {{ block.super }}
  {% verbatim %}
    <script type="text/javascript">
    var mod = angular.module("newsblog", []);

    /* Tells if the user has scrolled to the bottom of the page */
    mod.factory('$isPageBottom', function() {
    	return function() {
            // 100px is fudgefactor so that user doesn't have to scroll to very bottom.
            return $(document).height() <= $(window).scrollTop() + $(window).height() + 100
        }	
    });
    
   /* Tells if the user has scrolled to the top of the page   */
    mod.factory('$isPageTop', function() {
        return function() {
            // 30px is fudgefactor so that user doesn't have to scroll to very top.
            return  $(window).scrollTop() < 30;
        }   
    });
    
    /* intended to work with ng-repeat.
       attr.nbIfChanged must be evaluated in the html attribute with <element nb-if-changed="{{myVar}}">. */
    mod.directive('nbIfChanged', function() {
    	
    	var changed;
    	return function(scope, element, attrs) {

   			if (changed !== attrs.nbIfChanged || scope.$first) {
   				changed = attrs.nbIfChanged;
   			} else {
   				element.remove();
   			}
    	}
    });
    
    mod.directive("nbWindowScroller", function ($parse, $window) {
    	
    	return function(scope, element, attr) {

    		angular.element($window).bind('scroll', function() {
            	scope.$apply(attr.nbWindowScroller);
            });
        };
    });
    
    mod.controller('ArticleCtrl', function ($scope, $http, $templateCache, $isPageBottom) {
    	
    	var pageSize = $scope.init.pageSize; console.log(pageSize);
    	$scope.data = {
    		page : $scope.init.page,
    		articles : $scope.init.articles,
    		isLoading : false,
    		end : false
    	}
        $scope.error = {
            loadMessage : null
         }
    	
    	$scope.fetch = function() {

    		if ($isPageBottom() && !$scope.data.isLoading && !$scope.data.end) {
    			$scope.data.isLoading = true;
	    		$http({
	   				method: 'get',
	   				url: '/blog/json/' + ($scope.data.page + 1),
	   				cache: $templateCache
	    		}).
	    		success(function(data, status) {
	    			
		    		if (data.length > 0) {
		    		    $scope.data.articles = $scope.data.articles.concat(data);
		    		    $scope.data.page += 1;
		    		    $('body').scrollspy('refresh');
		    		}
		    		if (data.length < pageSize) {
		    			$scope.data.end = true;
		    		}
		    		$scope.data.isLoading = false
	    		}).
	    		error(function(data, status) {
	    			
		    		$scope.error.loadMessage = 'There was a problem loading the data';
		    		$scope.data.isLoading = false
	    		});
	    	}
    	};
    });
    
    $(function() {
    	
    	// init carousel
        $('.carousel').carousel({
          interval: 10000
        });
    	
        // init scrollspy sidebar
        $('body').scrollspy({
            offset: 82,
            target: '#sidebar'
        });
        $('#sidebar').scrollspy('refresh');
        	
        $('#sidebar li:last-child').removeClass('active');
        $('#sidebar li:first-child').addClass('active');
        
        var offset = 80;

        $('#sidebar li a').click(function(event) {
            event.preventDefault();
            var cssId = $(this).attr('href');
            $(cssId)[0].scrollIntoView();
            scrollBy(0, -offset);
            history.pushState(null, null, cssId);
        });
    });
    </script>
  {% endverbatim %}
  </div>
</div>
{% endblock %}
