{% extends "main/base.html" %}

{% block title %}The News Blog{% endblock %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static "blog/css/style.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    {% load staticfiles %}
   <!-- Carousel
 ================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    {% for article in latest_article_list %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <img src="{% static "blog/slide-01.jpg" %}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ article.title }}</h1>
          <p class="lead">{{ article.summary }}</p>
          <a class="btn btn-large btn-primary" href="/blog/{{article.slug}}">Read more</a>
        </div>
      </div>
    </div>
    
    {% empty %}
    <div class="item active">
      <img src="{% static "blog/slide-01.jpg" %}" alt="No Articles yet">
      <div class="container">
        <div class="carousel-caption">
          <h1>Come back again soon...</h1>
          <p class="lead">We are furiously writing as you read this and we will have content up for you
          shortly. Sorry for the inconvenience. We know you really want to read our stuff!</p>
          <a class="btn btn-large btn-primary" href="#">Contact Us</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if latest_article_list.count > 1 %}{% endif %}
  <a class="left carousel-control"{% if latest_article_list.count < 2 %}style="display:none"{% endif %} href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control"{% if latest_article_list.count < 2 %}style="display:none"{% endif %} href="#myCarousel" data-slide="next">›</a>
</div> <!-- /.carousel -->
<div class="featurette container">
  {% for article in latest_article_list %}
      {% ifchanged %}<span class="label label-inverse">{{ article.published | date:"jS F Y" }}</span><br /><br />{% endifchanged %}
      <div class="container">
        <div class="well well-small">
          <h1>{{ article.title }}</h1>
          <p class="lead">{{ article.summary }}</p>
          <p>{{ article.published | date:"H:i A" }}</p>
          <a class="btn btn-large btn-primary" href="/blog/{{article.slug}}">Read more</a>
        </div>
      </div>
  {% empty %}
    <h3>No articles are available.</h3>
  {% endfor %}
</div>
{% endblock %}
{% block script %}
    {{ block.super }}
  {% verbatim %}
    <script type="text/javascript">
    $('.carousel').carousel({
      interval: 10000
    })
    </script>
  {% endverbatim %}
{% endblock %}
