{% extends "mobile/base.html" %}
{% block title %}The News Blog: {{ article.title }}{% endblock %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block pageId %}navigation{% endblock %}
{% block header %}
  {{ block.super }}
{% endblock %}
{% block content %}
  <div data-role="content">
    
    {% if success %}
        <p class="alert-success">Thank you. Your email was successfully sent.</p>
    {% else %}
    <h3>Email Us</h3>
    <form action="/m/contact/" method="post">
      {% csrf_token %}
      {{ contact_form.as_p }}
      <input type="submit" name="submit" value="send" />
    </form>
    {% endif %}
  </div>
{% endblock %}
{% block footer %}
  {{ block.super }}
{% endblock %}
{% block script %}
    {{ block.super }}
{% endblock %}